* {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.grid-container div {
  background: lightyellow;
  padding: 20px;
  border: 1px solid #999;
  text-align: center;
}
