* {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.flex-container {
  display: flex;
  gap: 10px;
}

.flex-container div {
  background: lightblue;
  padding: 20px;
  flex: 1;
}
