* {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.transition-btn {
  padding: 10px 20px;
  background: teal;
  color: white;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.transition-btn:hover {
  background: darkcyan;
}
